*{
    padding: 0;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900; 
}

body{
    text-align: center;
    background-attachment: fixed;
    background-color: rgb(100, 146, 100);
    
}

footer,
main,
header{
    text-align: justify;
    text-align: center;
    min-width: 350px;
}

@font-face{
    font-family: h1;
    src: url('../fontes/Piparivahtiperhonen.ttf') format(opentype);
    font-weight: normal;
    font-style: normal;

}

header{
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.432);
    margin-bottom: 1px;
    color: #ffffff;
    background-image: linear-gradient(to top, #09360f,#0d611a,#119425);
}

h1{
    text-shadow: 6px 3px rgba(0, 0, 0, 0.39) ;
    font-weight: 500;
    font-size: 48px;
    font-family: 'h1';
    text-transform: uppercase;
    padding: 15px;
}

.intro-inicial{
    text-shadow: 6px 3px rgba(0, 0, 0, 0.39) ;
    font-weight: 100;
    font-family: 'Courier New', Courier, monospace;
    margin: 15px; 
    text-align: center;
}

nav{
    padding-top: 10px;
    text-align: left;
    
}

nav > a{
    font-weight: 900;
    text-shadow: 6px 3px rgba(0, 0, 0, 0.39) ;
    margin: 0px 10px;
    text-decoration:none; 
    color: rgb(248, 240, 240);
}

main{
    margin-bottom:40px ;
    background-color: white;
    max-width: 840px;
    border-radius: 0px 0px 15px 15px;
    box-shadow: 4px 4px 4px 7px rgba(0, 0, 0, 0.322);
}

img{
    width: 320px;
}

@font-face {
    font-family:fonte;
    src: url('../fontes/idroid.otf') format(opentype);
    font-weight: normal;
    font-style: normal;
}

p{
    text-indent: 35px;
    line-height: 25px;
    text-align: justify;
}

h3, h2{
    text-align: left;
    padding: 15px;
    font-family: 'fonte';
    color: rgb(11, 75, 11);
}

h3{
    margin: 15px;
    padding: 1px 7px;
    background-color: #b0ecb9d0;
}

ul{
    margin: 20px 0px;
    text-align: justify;
    list-style: none;
    color: black;
    font-weight: bolder;
    display: inline-block;
}

.video{
    text-align: center;
    width: 100%;
    background-color: #002e06;
}

h4{
    border-radius: 10px 10px 0px 0px;
    color: white;
    padding: 15px;
    background-color: rgb(19, 131, 19);
}

div > p{
    padding: 15px;
}

.extra{
    margin: 10px;
    border-radius: 15px;
    background-color: rgba(137, 212, 137, 0.466);
}

li > a{
    color: black;
}

p > a{
    font-size: larger;
    color: #002e06;
    text-decoration: none;
}

footer{
    padding: 20px;
    color: white;
    background-color:rgb(4, 146, 4) ;
}

.finalizacao{
    padding:25px;
}

a:hover{
    color: red;
}

footer > a{
    color: #ffffff;
    text-decoration: none;
}